<section class="container text-monospace">
   <div class="row">
       <div class="display: block  text-truncate">
    <p class="col-md-2 d-block"> Fernando centeno</p>
    <p class="col-md-2 d-block"> Desarrollador web</p>
    <p class="col-md-2 d-block"> Guayana / Venezuela</p>
    <p class="col-md-2 d-block"> contact@fernando.com</p>
    <p class="col-md-2 d-block"><a class="text-primary" href="">Instagram</a></p>
    
    <p class="col-md-2 d-block"><a class="text-primary" href="">Facebook</a></p>
    
    <p class="col-md-2 d-block"><a class="text-primary" href="">LinKedin</a></p>
    </div></div>

    <form >
      <div class="row">
        <div class="col"> 
      
        <input type="text" class="form-control bg-white border border-secondary" id="validationDefault01" placeholder="Nombre Y Apellido" required>
        
        <input type="text" class="form-control bg-white border border-secondary" id="validationDefault01" placeholder="Email" required>
        
        <input type="text" class="form-control bg-white border border-secondary" id="validationDefault01" placeholder="Telefono" required>
      
        </div>
        <div class="col">
          
          <textarea class=" form-control bg-white border border-secondary " id="Textarea1" rows="8" placeholder="Nota"></textarea>
        
        </div>
      </div>
        
        <button class="btn  col p-3 mb-10 bg-secondary text-white " type="submit">Enviar</button>
      </form>

</section>
