<footer class="">
    <!--<div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-footer-menu">
          <li class="rk-menu__item"><a href="about.html" class="rk-menu__link">About</a>
          </li>
          <li class="rk-menu__item"><a href="documentation.html" class="rk-menu__link">Docs</a>
          </li>
          <li class="rk-menu__item"><a href="contact.html" class="rk-menu__link">Contact</a>
          </li>
        </ul>
        
      </div>-->
        <div class="d-flex justify-content-start d-block-inline position-absolute footer">
        <button type="button" class="btn "><img src="assets/img/pantalla-completa.png" alt=""></button>
        <button type="button" class="btn "><img src="assets/img/previus.png" alt=""></button>
        <button type="button" class="btn "><img src="assets/img/proximo.png" alt=""></button>
        </div>

      <div class="d-flex justify-content-end footer ">
        
        <ul class="nav d-block-inline">
          <li class="nav-item rounded">
            <a href="" class="nav-link"> <img src="assets/img/facebook.png"> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="assets/img/instagram.png" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="assets/img/tw.png" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" ><img src="assets/img/linkedin.png" alt=""></a>
          </li>
        </ul>
      </div>
      <!--<div class="ae-grid__item item-lg-4 au-xs-ta-center"><a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
          </svg></a><a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
          </svg></a><a href="#0" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
          </svg></a>
        </div>
    <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}} URKU PORTFOLIO </span>All Right Reserved.</p>
    </div>-->
  </footer>
