<header class="">

  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

      
    </button>
    <a class="navbar-brand text-monospace col-auto mr-auto" routerLink="home">
        BITCS
    </a>

    <div class="collapse navbar-collapse text-monospace " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Portafolio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Instagram</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nosotros
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="about">Biografia</a>
            <a class="dropdown-item" routerLink="contact">Contacto</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
       
      </ul>
    </div>
    <div class="collapse navbar-collapse text-monospace justify-content-end ">
      <p class=" navbar-nav"> <span class="navbar-nav text-secondary"><a href="" class="text-primary">@fernando96</a> | Email:<a href="#0" class="text-secondary">contact@fernando.com</a> | Guayana, Venezuela </span></p>
    
    </div>
   

  </nav>
</div>
</header>
